* {
  margin: 0;
  color: white;
  padding: 0;
}

body {
  background-color: #1c132e;
}


.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: center;
}

.coluna {
  display: flex;
  flex-direction: column;
  background-color: rgba(176, 184, 209, 0);
}

.esquerda {
  text-align: center;
}

.direita {
  text-align: center;
}

.posicao {
  text-align: center;
}

.posicao2 {
  text-align: center;
}

.titulo {
  text-align: center;
  padding-bottom: 120px;
}

.pfpImg {
  height: 75px;
  width: 75px;
  align-self: center;
  border-radius: 100px;
  border: #302252 2px solid;
}